body {
    background-color: rgba(253, 253, 255, 0.932);
    background-repeat: repeat;
    background-repeat: no-repeat;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}


html,body {
    height: auto;
    width: 210mm;
    display: block;
    margin: 0 auto;
    box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 220px;
    height: 158px;
    border: 1px gray;
    border-radius: 3px;
}

.box {
    float: right;
    width: 220px;
    height: 140px;
    margin-right: 40px;
}
  
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(49, 49, 49);
    font-weight: lighter;
    font-size: 15px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40;
}

h3 {
    color: rgb(255, 254, 254);
    background-color: rgba(49, 49, 49, 0.836);
    border: 2px solid rgba(49, 49, 49, 0.836);
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin-left: 20px;
    border-radius: 2px;
    padding: 3px;
    margin: 5px;
}

p {
    color: rgba(20, 24, 36, 0.76);
    font-stretch: semi-expanded;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-size: 13px;
}

#education {
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
    width: 95%;
    /* table-layout: ; */
}
  
#education td, #education th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
#education tr:hover {
    background-color: rgba(224, 224, 224, 0.651);
}

.main_info {
    text-align: left;
}

a:link {
    color: rgb(19, 21, 53);
}

a:visited {
    color: #557386;
}

.social {
    margin-left: 15px;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.9;
  }